{% load static %}
<!doctype html>
<html lang="fr">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Main CSS -->
        <link href="{% static 'website/assets/css/main.css' %}" rel="stylesheet" >
        <title>{{ title|default:"UNA" }}  </title>
        {% block 'header' %}

        {% endblock %}
    </head>
    <body data-bs-spy="scroll" data-bs-target="#navigation">
        <!-- PRELOADER STARTS
            ========================================================================= -->
        <div id="main-preloader" class="main-preloader semi-dark-background">
            <div class="main-preloader-inner center">
                <h1 class="preloader-percentage center">
                    <span class="preloader-percentage-text">0</span> <!-- Show Percentage Number -->
                    <span class="percentage">%</span>
                </h1>
                <div class="preloader-bar-outer">
                    <div class="preloader-bar"></div>
                    <!-- Percentage Precess Bar -->
                </div>
            </div>
        </div>
        <!-- /.. PRELOADER ENDS
            ========================================================================= -->


        {% include 'website/partials/menu.html' %}


        {% block 'contenu_principal' %}

        {% endblock %}



        {% include 'website/partials/footer.html' %}

        <!-- TO TOP STARTS
            ========================================================================= -->
        <a href="#home" class="back-to-top"><i class="las la-angle-up"></i></a>
        <!-- /.. TO TOP ENDS
            ========================================================================= -->

        <!-- INCLUD ALL JS FILES
            ========================================================================= -->
        {% block 'script' %}
                {% include 'website/partials/script_index.html'  %}
        {% endblock %}

    </body>
</html>