<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Main CSS -->
        <link href="assets/css/main.css" rel="stylesheet" >
        <title>Logistics & transportation shipping website template</title>
    </head>
    <body data-bs-spy="scroll" data-bs-target="#navigation">
        <!-- PRELOADER STARTS
            ========================================================================= -->
        <div id="main-preloader" class="main-preloader semi-dark-background">
            <div class="main-preloader-inner center">
                <h1 class="preloader-percentage center">
                    <span class="preloader-percentage-text">0</span> <!-- Show Percentage Number -->
                    <span class="percentage">%</span>
                </h1>
                <div class="preloader-bar-outer">
                    <div class="preloader-bar"></div>
                    <!-- Percentage Precess Bar -->
                </div>
            </div>
        </div>
        <!-- /.. PRELOADER ENDS
            ========================================================================= -->
        <!-- NAVIGATION STARTS
            ========================================================================= -->
        <nav id="navigation" class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
            <div class="container-fluid">
                <a class="navbar-brand white-logo" href="index.html"><img src="assets/imgs/logo-white.png" class="img-fluid" alt="" ></a>
                <a class="navbar-brand black-logo" href="index.html"><img src="assets/imgs/logo.png" class="img-fluid" alt="" ></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">Home </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about.html" >About</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="our-services.html">
                            Services <i class="las la-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="our-services.html">Services</a></li>
                                <li><a class="dropdown-item" href="services-detail.html">Services Details</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="gallery.html">Gallery</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="team.html">Team</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="pricing.html">Pricing</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="blog.html">
                            Blog <i class="las la-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="blog.html">Blog Page</a></li>
                                <li><a class="dropdown-item" href="single-blog-post-right-sidebar.html">Single Post 01</a></li>
                                <li><a class="dropdown-item" href="single-blog-post-left-sidebar.html">Single Post 02</a></li>
                                <li><a class="dropdown-item" href="single-blog-post-without-sidebar.html">Single Post 03</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact.html">Contact</a>
                        </li>
                    </ul>
                    <span class="ps-3 d-none d-lg-block">
                    <a href="https://themeforest.net/item/this-one-one-page-responsive-website-template/7236268?ref=alia" class="btn btn-primary" target="_blank">BUY NOW</a>
                    </span>
                </div>
            </div>
        </nav>
        <!-- INNER BANNER STARTS
            ========================================================================= -->
        <div class="inner-banner-style banner-img-05" id="top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="info text-center animated" data-animation="fadeInUp" data-animation-delay="200">
                            <div class="lrline pb-3"><span>Cheap Rates</span></div>
                            <h2>Pricing</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /. INNER BANNER ENDS
            ========================================================================= -->
        <!-- PRICING STARTS
            ========================================================================= -->	
        <section class="pricing" id="pricing">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="herotext text-center  animated" data-animation="fadeInUp" data-animation-delay="100">
                            <div class="lrline pb-3"><span>Cheap PriRcing</span></div>
                            <h2>Explore our membership pricing plans</h2>
                            <h5 class="pt-2">Whatever item needs to be delivered or shipped, we're capable to do that!</h5>
                        </div>
                    </div>
                </div>
                <div class="row pt-5 g-0 g-lg-5">
                    <div class="col col-md-4 text-start">
                        <div class="block  animated" data-animation="fadeInUp" data-animation-delay="300">
                            <div class="herotext p-4 pb-2">
                                <h4>Basic</h4>
                                <h2>$49<span>/month</span></h2>
                                <p>All plans include a 30 day trial!</p>
                            </div>
                            <ul class="pt-4">
                                <li><i class="lar la-check-circle"></i> 15 Active Projects</li>
                                <li><i class="lar la-check-circle"></i> 3GB of Space</li>
                                <li><i class="lar la-check-circle"></i> Unlimited Users</li>
                                <li><i class="lar la-check-circle"></i> Time Tracking</li>
                                <li><i class="lar la-check-circle"></i> Chat Support</li>
                                <li>&nbsp;</li>
                            </ul>
                            <div><a href="#" class="btn btn-primary w-100 mt-3">CHOOSE PLAN</a></div>
                        </div>
                    </div>
                    <div class="col col-md-4 text-start">
                        <div class="block best  animated" data-animation="fadeInUp" data-animation-delay="500">
                            <div class="herotext p-4  pb-2">
                                <h4>Popular</h4>
                                <h2>$99<span>/month</span></h2>
                                <p>All plans include a 30 day trial!</p>
                            </div>
                            <ul class="pt-4">
                                <li><i class="lar la-check-circle"></i> 35 Active Projects</li>
                                <li><i class="lar la-check-circle"></i> 10GB of Space</li>
                                <li><i class="lar la-check-circle"></i> Unlimited Users</li>
                                <li><i class="lar la-check-circle"></i> Time Tracking</li>
                                <li><i class="lar la-check-circle"></i> SSL Security</li>
                                <li><i class="lar la-check-circle"></i> Chat Support</li>
                            </ul>
                            <div><a href="#" class="btn btn-primary w-100 mt-3">CHOOSE PLAN</a></div>
                        </div>
                    </div>
                    <div class="col col-md-4  text-start">
                        <div class="block  animated" data-animation="fadeInUp" data-animation-delay="700">
                            <div class="herotext p-4 pb-2">
                                <h4>Enterprise</h4>
                                <h2>$199<span>/month</span></h2>
                                <p>All plans include a 30 day trial!</p>
                            </div>
                            <ul class="pt-4">
                                <li><i class="lar la-check-circle"></i> Unlimited Projects</li>
                                <li><i class="lar la-check-circle"></i> 50GB of Space</li>
                                <li><i class="lar la-check-circle"></i> Unlimited Users</li>
                                <li><i class="lar la-check-circle"></i> Time Tracking</li>
                                <li><i class="lar la-check-circle"></i> SSL Security</li>
                                <li><i class="lar la-check-circle"></i> Chat Support</li>
                            </ul>
                            <div><a href="#" class="btn btn-primary w-100 mt-3">CHOOSE PLAN</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.. PRICING ENDS
            ========================================================================= -->
        <!-- TESTIMONIALS STARTS
            ========================================================================= -->	
        <section class="testimonials pt-0">
            <div class="container">
                <div class="row align-items-start align-items-md-center">
                    <div class="col-12 col-lg-6 col-xl-6  testimonials-block" >
                        <div class="herotext  animated" data-animation="fadeInUp" data-animation-delay="100">
                            <div class="rightline pb-3"><span>Testimonials</span></div>
                            <h2>Success stories from our client</h2>
                        </div>
                        <div class="testimonials-carousel pt-4   animated" data-animation="fadeInUp" data-animation-delay="300">
                            <div class="testimonial">
                                <div class="d-flex align-items-center">
                                    <div class="pic"><img src="assets/imgs/testimonials/1.jpg" class="img-fluid" alt=""></div>
                                    <div class="detail">
                                        <div class="name">Alexandra Grant</div>
                                        <div class="designation">los Angeles, usa</div>
                                    </div>
                                </div>
                                <p class="pt-3">“ We are full-cycle software development and digital solutions company with rich expertise and focus on the latest technologies ”</p>
                            </div>
                            <div class="testimonial">
                                <div class="d-flex align-items-center">
                                    <div class="pic"><img src="assets/imgs/testimonials/2.jpg" class="img-fluid" alt=""></div>
                                    <div class="detail">
                                        <div class="name">Alexandra Grant</div>
                                        <div class="designation">los Angeles, usa</div>
                                    </div>
                                </div>
                                <p class="pt-3">“ We are full-cycle software development and digital solutions company with rich expertise and focus on the latest technologies ”</p>
                            </div>
                            <div class="testimonial">
                                <div class="d-flex align-items-center">
                                    <div class="pic"><img src="assets/imgs/testimonials/3.jpg" class="img-fluid" alt=""></div>
                                    <div class="detail">
                                        <div class="name">Alexandra Grant</div>
                                        <div class="designation">los Angeles, usa</div>
                                    </div>
                                </div>
                                <p class="pt-3">“ We are full-cycle software development and digital solutions company with rich expertise and focus on the latest technologies ”</p>
                            </div>
                        </div>
                        <!--<div class="slider-counter"></div>-->
                    </div>
                    <div class="col-12 col-lg-6 col-xl-6 pe-3 ps-3 animated" data-animation="fadeInUp" data-animation-delay="400"><img src="assets/imgs/testimonials/big.png" class="img-fluid" alt=""></div>
                </div>
            </div>
        </section>
        <!-- /.. TESTIMONIALS ENDS
            ========================================================================= -->
        <!-- FOOTER STARTS
            ========================================================================= -->
        <footer class="rich-black-bg text-left">
            <div class="container">
                <div class="row pb-3">
                    <div class="col-lg-4 col-12 socialmedia animated" data-animation="fadeInUp" data-animation-delay="100">
                        <strong>THIS ONE</strong><br>
                        <p class="pt-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <ul class="pt-1 SM">
                            <li><a href=""><i class="lab la-twitter"></i></a></li>
                            <li><a href=""><i class="lab la-facebook-f"></i></a></li>
                            <li><a href=""><i class="lab la-behance"></i></a></li>
                            <li><a href=""><i class="lab la-dribbble"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2  col-6 links offset-lg-1 animated" data-animation="fadeInUp" data-animation-delay="100">
                        <strong>Company</strong><br>
                        <ul class="pt-3">
                            <li><a href="about.html">ABOUT</a></li>
                            <li><a href="services.html">SERVICES</a></li>
                            <li><a href="gallery.html">GALLARY</a></li>
                            <li><a href="blog.html">BLOG</a></li>
                            <li><a href="contact.html">CONTACT</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-6 links animated" data-animation="fadeInUp" data-animation-delay="100">
                        <strong>Our Services</strong><br>
                        <ul class="pt-3">
                            <li><a href="services.html">Air Freight</a></li>
                            <li><a href="services.html">Maritime Freight</a></li>
                            <li><a href="services.html">Ground Freight</a></li>
                            <li><a href="services.html">Home Delivery</a></li>
                            <li><a href="services.html">24/7 Support</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-12 contact-info animated" data-animation="fadeInUp" data-animation-delay="100">
                        <strong>Seamless Logistics, Faster Deliveries</strong><br>
                        <ul class="pt-3">
                            <li><i class="las la-map-marker"></i> 936 Kiehn Route, <br>10013 New York United States</li>
                            <li><i class="las la-envelope"></i> <a href="#">asfdasd@gmail.com</a></li>
                            <li><i class="las la-phone"></i> +1 234 567890</li>
                        </ul>
                    </div>
                </div>
                <hr>
                <div class="row pt-3 copyright text-center animated" data-animation="fadeInUp" data-animation-delay="500">
                    <div class="col-12">							
                        THIS ONE ©2025. All rights reserved
                    </div>
                </div>
            </div>
        </footer>
        <!-- /.. FOOTER ENDS
            ========================================================================= -->
        <!-- TO TOP STARTS
            ========================================================================= -->
        <a href="#top" class="back-to-top"><i class="las la-angle-up"></i></a>
        <!-- /.. TO TOP ENDS
            ========================================================================= -->
        <!-- INCLUD ALL JS FILES 
            ========================================================================= -->
        <!--JQUERY MIN JS-->
        <script src="assets/lib/jquery-1.12.4/jquery.min.js"></script>
        <!--BOOTSTRAP JS-->
        <script src="assets/lib/bootstrap/js/bootstrap.min.js"></script>
        <!-- PRELOADER -->
        <script src="assets/lib/preloader/sPreloader.js"></script>
        <!-- Animation --> 
        <script src="assets/lib/animations/jquery.appear.js"></script>
        <!-- OWL CAROUSEL --> 
        <script src="assets/lib/owl-carousel/owl.carousel.js"></script> 
        <!-- ISOTOPE GALLERY --> 
        <script src="assets/lib/isotope/jquery.isotope.min.js"></script> 
        <script src="assets/lib/isotope/custom-isotope-mansory.js"></script> 
        <!-- MAGNIFIC POPUP -->
        <script src="assets/lib/magnific-popup/jquery.magnific-popup.js"></script>
        <!-- CUSTOM JS -->
        <script src="assets/js/script.js"></script>
    </body>
</html>