<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Main CSS -->
        <link href="assets/css/main.css" rel="stylesheet" >
        <title>Logistics & transportation shipping website template</title>
    </head>
    <body data-bs-spy="scroll" data-bs-target="#navigation">
        <!-- PRELOADER STARTS
            ========================================================================= -->
        <div id="main-preloader" class="main-preloader semi-dark-background">
            <div class="main-preloader-inner center">
                <h1 class="preloader-percentage center">
                    <span class="preloader-percentage-text">0</span> <!-- Show Percentage Number -->
                    <span class="percentage">%</span>
                </h1>
                <div class="preloader-bar-outer">
                    <div class="preloader-bar"></div>
                    <!-- Percentage Precess Bar -->
                </div>
            </div>
        </div>
        <!-- /.. PRELOADER ENDS
            ========================================================================= -->
        <!-- NAVIGATION STARTS
            ========================================================================= -->
        <nav id="navigation" class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
            <div class="container-fluid">
                <a class="navbar-brand white-logo" href="index.html"><img src="assets/imgs/logo-white.png" class="img-fluid" alt="" ></a>
                <a class="navbar-brand black-logo" href="index.html"><img src="assets/imgs/logo.png" class="img-fluid" alt="" ></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">Home </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="about-us.html" >About</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="our-services.html">
                            Services <i class="las la-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="our-services.html">Services</a></li>
                                <li><a class="dropdown-item" href="services-detail.html">Services Details</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="gallery.html">Gallery</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="team.html">Team</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="pricing.html">Pricing</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="blog.html">
                            Blog <i class="las la-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="blog.html">Blog Page</a></li>
                                <li><a class="dropdown-item" href="single-blog-post-right-sidebar.html">Single Post 01</a></li>
                                <li><a class="dropdown-item" href="single-blog-post-left-sidebar.html">Single Post 02</a></li>
                                <li><a class="dropdown-item" href="single-blog-post-without-sidebar.html">Single Post 03</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact.html">Contact</a>
                        </li>
                    </ul>
                    <span class="ps-3 d-none d-lg-block">
                    <a href="https://themeforest.net/item/this-one-one-page-responsive-website-template/7236268?ref=alia" class="btn btn-primary" target="_blank">BUY NOW</a>
                    </span>
                </div>
            </div>
        </nav>
        <!-- INNER BANNER STARTS
            ========================================================================= -->
        <div class="inner-banner-style banner-img-01" id="top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="info text-center animated" data-animation="fadeInUp" data-animation-delay="200">
                            <div class="lrline pb-3"><span>faster deliveries</span></div>
                            <h2>About us</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /. INNER BANNER ENDS
            ========================================================================= -->
        <!-- ABOUT US STARTS
            ========================================================================= -->	
        <section class="home-intro pb-1">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-4">
                        <div class="service-block animated" data-animation="fadeInUp" data-animation-delay="200">
                            <div class="pt-1 pb-5">
                                <div class="info">
                                    <div class="icon"><img src="assets/imgs/about/1.svg" alt=""></div>
                                    <div class="text">
                                        <h4>100% Satifaction</h4>
                                        <div>Lorem Ipsum</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 ">
                        <div class="service-block animated" data-animation="fadeInUp" data-animation-delay="300">
                            <div class="pt-1 pb-5">
                                <div class="info">
                                    <div class="icon"><img src="assets/imgs/about/3.svg" alt=""></div>
                                    <div class="text">
                                        <h4>Fast Delivery</h4>
                                        <div>Lorem Ipsum</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 ">
                        <div class="service-block animated" data-animation="fadeInUp" data-animation-delay="400">
                            <div class="pt-1 pb-5">
                                <div class="info">
                                    <div class="icon"><img src="assets/imgs/about/2.svg" alt=""></div>
                                    <div class="text">
                                        <h4>24x7 Service</h4>
                                        <div>Lorem Ipsumy</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /. ABOUT US ENDS
            ========================================================================= -->
        <!-- ABOUT US STARTS
            ========================================================================= -->	
        <section class="home-intro" id="about">
            <div class="container">
                <div class="row align-items-center pb-5">
                    <div class="col-12 col-lg-5 pt-4 pt-lg-0 animated" data-animation="fadeInUp" data-animation-delay="350">
                        <img src="assets/imgs/about/pic1.png" class="img-fluid pic" alt="">
                    </div>
                    <div class="col-12 col-lg-6 offset-lg-1">
                        <div class="herotext animated" data-animation="fadeInUp" data-animation-delay="100">
                            <div class="rightline pb-3"><span>Since 1998</span></div>
                            <h2>Making transportation<br> fast and safe</h2>
                            <h5 class="pt-2">Lorem Ipsum is simply dummy  text of the printing and typesetting industry. lorem Ipsum has been the industry standard dummy text ever since the when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                                <br><br><strong>Tom Henders</strong><br>CEO of Company
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /. ABOUT US ENDS
            ========================================================================= -->
        <!-- TEAM STARTS
            ========================================================================= -->
        <section class="team light-grey-bg mt-3" id="team">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="herotext text-center pb-5  animated" data-animation="fadeInUp" data-animation-delay="200">
                            <div class="lrline pb-3"><span>Our Team</span></div>
                            <h2>Meet our the best crew</h2>
                            <h5 class="pt-2">Whatever item needs to be delivered or shipped, we're capable to do that!</h5>
                        </div>
                    </div>
                </div>
                <div class="team-carousel animated" data-animation="fadeInUp" data-animation-delay="300">
                    <div class="block">
                        <div class="pic pb-4"><img src="assets/imgs/team/1.jpg" class="img-fluid" alt=""></div>
                        <div class="details">
                            <h2>John</h2>
                            <h6>CEO</h6>
                            <ul class="socialmedia pt-2">
                                <li><a href=""><i class="lab la-twitter"></i></a></li>
                                <li><a href=""><i class="lab la-facebook-f"></i></a></li>
                                <li><a href=""><i class="lab la-dribbble"></i></a></li>
                                <li><a href=""><i class="lab la-behance"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="block">
                        <div class="pic pb-4"><img src="assets/imgs/team/2.jpg" class="img-fluid" alt=""></div>
                        <div class="details">
                            <h2>Abigail</h2>
                            <h6>Director</h6>
                            <ul class="socialmedia pt-2">
                                <li><a href=""><i class="lab la-linkedin-in"></i></a></li>
                                <li><a href=""><i class="lab la-twitter"></i></a></li>
                                <li><a href=""><i class="lab la-facebook-f"></i></a></li>
                                <li><a href=""><i class="lab la-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="block">
                        <div class="pic pb-4"><img src="assets/imgs/team/3.jpg" class="img-fluid" alt=""></div>
                        <div class="details">
                            <h2>Anderson</h2>
                            <h6>Manager</h6>
                            <ul class="socialmedia pt-2">
                                <li><a href=""><i class="lab la-twitter"></i></a></li>
                                <li><a href=""><i class="lab la-facebook-f"></i></a></li>
                                <li><a href=""><i class="lab la-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="block">
                        <div class="pic pb-4"><img src="assets/imgs/team/4.jpg" class="img-fluid" alt=""></div>
                        <div class="details">
                            <h2>Donna</h2>
                            <h6>Analyst</h6>
                            <ul class="socialmedia pt-2">
                                <li><a href=""><i class="lab la-twitter"></i></a></li>
                                <li><a href=""><i class="lab la-facebook-f"></i></a></li>
                                <li><a href=""><i class="lab la-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="block">
                        <div class="pic pb-4"><img src="assets/imgs/team/5.jpg" class="img-fluid" alt=""></div>
                        <div class="details">
                            <h2>Bailey</h2>
                            <h6>Manager</h6>
                            <ul class="socialmedia pt-2">
                                <li><a href=""><i class="lab la-twitter"></i></a></li>
                                <li><a href=""><i class="lab la-facebook-f"></i></a></li>
                                <li><a href=""><i class="lab la-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.. TEAM ENDS
            ========================================================================= -->
        <!-- TESTIMONIALS STARTS
            ========================================================================= -->	
        <section class="testimonials">
            <div class="container">
                <div class="row align-items-start align-items-md-center">
                    <div class="col-12 col-lg-6 col-xl-6  testimonials-block" >
                        <div class="herotext  animated" data-animation="fadeInUp" data-animation-delay="100">
                            <div class="rightline pb-3"><span>Testimonials</span></div>
                            <h2>Success stories from our client</h2>
                        </div>
                        <div class="testimonials-carousel pt-4   animated" data-animation="fadeInUp" data-animation-delay="300">
                            <div class="testimonial">
                                <div class="d-flex align-items-center">
                                    <div class="pic"><img src="assets/imgs/testimonials/1.jpg" class="img-fluid" alt=""></div>
                                    <div class="detail">
                                        <div class="name">Alexandra Grant</div>
                                        <div class="designation">los Angeles, usa</div>
                                    </div>
                                </div>
                                <p class="pt-3">“ We are full-cycle software development and digital solutions company with rich expertise and focus on the latest technologies ”</p>
                            </div>
                            <div class="testimonial">
                                <div class="d-flex align-items-center">
                                    <div class="pic"><img src="assets/imgs/testimonials/2.jpg" class="img-fluid" alt=""></div>
                                    <div class="detail">
                                        <div class="name">Alexandra Grant</div>
                                        <div class="designation">los Angeles, usa</div>
                                    </div>
                                </div>
                                <p class="pt-3">“ We are full-cycle software development and digital solutions company with rich expertise and focus on the latest technologies ”</p>
                            </div>
                            <div class="testimonial">
                                <div class="d-flex align-items-center">
                                    <div class="pic"><img src="assets/imgs/testimonials/3.jpg" class="img-fluid" alt=""></div>
                                    <div class="detail">
                                        <div class="name">Alexandra Grant</div>
                                        <div class="designation">los Angeles, usa</div>
                                    </div>
                                </div>
                                <p class="pt-3">“ We are full-cycle software development and digital solutions company with rich expertise and focus on the latest technologies ”</p>
                            </div>
                        </div>
                        <!--<div class="slider-counter"></div>-->
                    </div>
                    <div class="col-12 col-lg-6 col-xl-6 pe-3 ps-3 animated" data-animation="fadeInUp" data-animation-delay="400"><img src="assets/imgs/testimonials/big.png" class="img-fluid" alt=""></div>
                </div>
            </div>
        </section>
        <!-- /.. TESTIMONIALS ENDS
            ========================================================================= -->
        <!-- CLIENTS STARTS
            ========================================================================= -->
        <section class="clients pt-0">
            <div class="container">
                <div class="row">
                    <div class="col-12  animated" data-animation="fadeInUp" data-animation-delay="100">
                        <div class="herotext text-center">
                            <div class="lrline pb-3"><span>Awards</span></div>
                            <h2>International Restaurant Awards 2024</h2>
                        </div>
                    </div>
                </div>
                <div class="row text-center pt-5">
                    <div class="col-6 col-md-3  animated" data-animation="fadeInUp" data-animation-delay="200"><img src="assets/imgs/clients/1.jpg" class="img-fluid" alt=""></div>
                    <div class="col-6 col-md-3  animated" data-animation="fadeInUp" data-animation-delay="300"><img src="assets/imgs/clients/2.jpg" class="img-fluid" alt=""></div>
                    <div class="col-6 col-md-3  animated" data-animation="fadeInUp" data-animation-delay="400"><img src="assets/imgs/clients/3.jpg" class="img-fluid" alt=""></div>
                    <div class="col-6 col-md-3  animated" data-animation="fadeInUp" data-animation-delay="500"><img src="assets/imgs/clients/4.jpg" class="img-fluid" alt=""></div>
                    <div class="col-6 col-md-3  animated" data-animation="fadeInUp" data-animation-delay="600"><img src="assets/imgs/clients/5.jpg" class="img-fluid" alt=""></div>
                    <div class="col-6 col-md-3  animated" data-animation="fadeInUp" data-animation-delay="700"><img src="assets/imgs/clients/6.jpg" class="img-fluid" alt=""></div>
                    <div class="col-6 col-md-3  animated" data-animation="fadeInUp" data-animation-delay="800"><img src="assets/imgs/clients/7.jpg" class="img-fluid" alt=""></div>
                    <div class="col-6 col-md-3  animated" data-animation="fadeInUp" data-animation-delay="900"><img src="assets/imgs/clients/8.jpg" class="img-fluid" alt=""></div>
                </div>
            </div>
        </section>
        <!-- /.. CLIENTS ENDS
            ========================================================================= -->
        <!-- FOOTER STARTS
            ========================================================================= -->
        <footer class="rich-black-bg text-left">
            <div class="container">
                <div class="row pb-3">
                    <div class="col-lg-4 col-12 socialmedia animated" data-animation="fadeInUp" data-animation-delay="100">
                        <strong>THIS ONE</strong><br>
                        <p class="pt-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <ul class="pt-1 SM">
                            <li><a href=""><i class="lab la-twitter"></i></a></li>
                            <li><a href=""><i class="lab la-facebook-f"></i></a></li>
                            <li><a href=""><i class="lab la-behance"></i></a></li>
                            <li><a href=""><i class="lab la-dribbble"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-6 links offset-lg-1 animated" data-animation="fadeInUp" data-animation-delay="100">
                        <strong>Company</strong><br>
                        <ul class="pt-3">
                            <li><a href="about-us.html">ABOUT</a></li>
                            <li><a href="services.html">SERVICES</a></li>
                            <li><a href="gallery.html">GALLARY</a></li>
                            <li><a href="blog.html">BLOG</a></li>
                            <li><a href="contact.html">CONTACT</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-6 links animated" data-animation="fadeInUp" data-animation-delay="100">
                        <strong>Our Services</strong><br>
                        <ul class="pt-3">
                            <li><a href="services.html">Air Freight</a></li>
                            <li><a href="services.html">Maritime Freight</a></li>
                            <li><a href="services.html">Ground Freight</a></li>
                            <li><a href="services.html">Home Delivery</a></li>
                            <li><a href="services.html">24/7 Support</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-12 contact-info animated" data-animation="fadeInUp" data-animation-delay="100">
                        <strong>Seamless Logistics, Faster Deliveries</strong><br>
                        <ul class="pt-3">
                            <li><i class="las la-map-marker"></i> 936 Kiehn Route, <br>10013 New York United States</li>
                            <li><i class="las la-envelope"></i> <a href="#">asfdasd@gmail.com</a></li>
                            <li><i class="las la-phone"></i> +1 234 567890</li>
                        </ul>
                    </div>
                </div>
                <hr>
                <div class="row pt-3 copyright text-center animated" data-animation="fadeInUp" data-animation-delay="500">
                    <div class="col-12">							
                        THIS ONE ©2025. All rights reserved
                    </div>
                </div>
            </div>
        </footer>
        <!-- /.. FOOTER ENDS
            ========================================================================= -->
        <!-- TO TOP STARTS
            ========================================================================= -->
        <a href="#top" class="back-to-top"><i class="las la-angle-up"></i></a>
        <!-- /.. TO TOP ENDS
            ========================================================================= -->
        <!-- INCLUD ALL JS FILES 
            ========================================================================= -->
        <!--JQUERY MIN JS-->
        <script src="assets/lib/jquery-1.12.4/jquery.min.js"></script>
        <!--BOOTSTRAP JS-->
        <script src="assets/lib/bootstrap/js/bootstrap.min.js"></script>
        <!-- PRELOADER -->
        <script src="assets/lib/preloader/sPreloader.js"></script>
        <!-- Animation --> 
        <script src="assets/lib/animations/jquery.appear.js"></script>
        <!-- OWL CAROUSEL --> 
        <script src="assets/lib/owl-carousel/owl.carousel.js"></script> 
        <!-- ISOTOPE GALLERY --> 
        <script src="assets/lib/isotope/jquery.isotope.min.js"></script> 
        <script src="assets/lib/isotope/custom-isotope-mansory.js"></script> 
        <!-- MAGNIFIC POPUP -->
        <script src="assets/lib/magnific-popup/jquery.magnific-popup.js"></script>
        <!-- CUSTOM JS -->
        <script src="assets/js/script.js"></script>
    </body>
</html>