<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Main CSS -->
        <link href="assets/css/main.css" rel="stylesheet" >
        <title>Logistics & transportation shipping website template</title>
    </head>
    <body data-bs-spy="scroll" data-bs-target="#navigation">
        <!-- PRELOADER STARTS
            ========================================================================= -->
        <div id="main-preloader" class="main-preloader semi-dark-background">
            <div class="main-preloader-inner center">
                <h1 class="preloader-percentage center">
                    <span class="preloader-percentage-text">0</span> <!-- Show Percentage Number -->
                    <span class="percentage">%</span>
                </h1>
                <div class="preloader-bar-outer">
                    <div class="preloader-bar"></div>
                    <!-- Percentage Precess Bar -->
                </div>
            </div>
        </div>
        <!-- /.. PRELOADER ENDS
            ========================================================================= -->
        <!-- NAVIGATION STARTS
            ========================================================================= -->
        <nav id="navigation" class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
            <div class="container-fluid">
                <a class="navbar-brand white-logo" href="index.html"><img src="assets/imgs/logo-white.png" class="img-fluid" alt="" ></a>
                <a class="navbar-brand black-logo" href="index.html"><img src="assets/imgs/logo.png" class="img-fluid" alt="" ></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">Home </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about-us.html" >About</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="our-services.html">
                            Services <i class="las la-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="our-services.html">Services</a></li>
                                <li><a class="dropdown-item" href="services-detail.html">Services Details</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="gallery.html">Gallery</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="team.html">Team</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="pricing.html">Pricing</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="blog.html">
                            Blog <i class="las la-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="blog.html">Blog Page</a></li>
                                <li><a class="dropdown-item" href="single-blog-post-right-sidebar.html">Single Post 01</a></li>
                                <li><a class="dropdown-item" href="single-blog-post-left-sidebar.html">Single Post 02</a></li>
                                <li><a class="dropdown-item" href="single-blog-post-without-sidebar.html">Single Post 03</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact.html">Contact</a>
                        </li>
                    </ul>
                    <span class="ps-3 d-none d-lg-block">
                    <a href="https://themeforest.net/item/this-one-one-page-responsive-website-template/7236268?ref=alia" class="btn btn-primary" target="_blank">BUY NOW</a>
                    </span>
                </div>
            </div>
        </nav>
        <!-- INNER BANNER STARTS
            ========================================================================= -->
        <div class="inner-banner-style banner-img-03" id="top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="info text-center animated" data-animation="fadeInUp" data-animation-delay="200">
                            <div class="lrline pb-3"><span>faster deliveries</span></div>
                            <h2>Our Gallery</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /. INNER BANNER ENDS
            ========================================================================= -->
        <!-- PORTFOLIO STARTS
            ========================================================================= -->
        <section id="portfolio" class="portfolio">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="herotext text-center  animated" data-animation="fadeInUp" data-animation-delay="100">
                            <div class="lrline pb-3"><span>Our Gallery</span></div>
                            <h2>Seamless logistics, faster deliveries</h2>
                            <h5 class="pt-2">Whatever item needs to be delivered or shipped, we're capable to do that!</h5>
                        </div>
                    </div>
                </div>
                <div class="row pt-5 pb-3">
                    <!-- Portfolio Nav Starts -->
                    <div class="col-12">
                        <div id="options" class=" animated" data-animation="fadeInUp" data-animation-delay="200">
                            <ul id="filters" class="option-set clearfix" data-option-key="filter">
                                <li><a href="#filter" data-option-value="*" class="selected">ALL</a></li>
                                <li><a href="#filter" data-option-value=".roadandtruck">Road & Truck</a></li>
                                <li><a href="#filter" data-option-value=".airplane">Airplane</a></li>
                                <li><a href="#filter" data-option-value=".maritime">Maritime</a></li>
                                <li><a href="#filter" data-option-value=".videos">Videos</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
            <div class="row">
                <!-- Portfolio Nav Ends -->
                <div class="col-12">
                    <!-- Portfolio Thumbs Starts -->
                    <div class="make4columns portfolio-grid">
                        <!-- Project 1 Starts -->
                        <figure class="item airplane">
                            <div class="picture">
                                <img src="assets/imgs/portfolio/airplane-4.jpg" alt="">                       
                                <!-- Picture Overlay Starts -->													
                                <div class="text-overlay">
                                    <div class="category">Airplane</div>
                                    <h2><a class="image-popup-vertical-fit" href="assets/imgs/portfolio/airplane-4.jpg" title="Product Name">Airplane</a></h2>
                                </div>
                                <div class="icon-overlay">
                                    <div class="icon"><a class="image-popup-vertical-fit" href="assets/imgs/portfolio/airplane-4.jpg" title="Product Name"><i class="las la-expand-arrows-alt"></i></a></div>
                                </div>
                                <!-- Picture Overlay Ends -->
                            </div>
                        </figure>
                        <!-- Project 1 Ends --> 
                        <!-- Project 3 Starts -->
                        <figure class="item maritime">
                            <div class="picture">
                                <img src="assets/imgs/portfolio/maritime-4.jpg" alt="">                       
                                <!-- Picture Overlay Starts -->													
                                <div class="text-overlay">
                                    <div class="category">Maritime</div>
                                    <h2><a class="image-popup-vertical-fit" href="assets/imgs/portfolio/maritime-4.jpg" title="Product Name">Maritime</a></h2>
                                </div>
                                <div class="icon-overlay">
                                    <div class="icon"><a class="image-popup-vertical-fit" href="assets/imgs/portfolio/maritime-4.jpg" title="Product Name"><i class="las la-expand-arrows-alt"></i></a></div>
                                </div>
                                <!-- Picture Overlay Ends -->
                            </div>
                        </figure>
                        <!-- Project 3 Ends -->
                        <!-- Project 2 Starts -->
                        <figure class="item videos">
                            <div class="picture">
                                <img src="assets/imgs/portfolio/vid-1.jpg" alt="">
                                <!-- Picture Overlay Starts -->													
                                <div class="text-overlay">
                                    <div class="category">video</div>
                                    <h2><a class="popup-vimeo" href="https://vimeo.com/45830194">Product Name</a></h2>
                                </div>
                                <div class="icon-overlay">
                                    <div class="icon"><a class="popup-vimeo" href="https://vimeo.com/45830194"><i class="las la-expand-arrows-alt"></i></a></div>
                                </div>
                                <!-- Picture Overlay Ends -->
                            </div>
                        </figure>
                        <!-- Project 2 Ends --> 
                        <!-- Project 4 Starts -->
                        <figure class="item roadandtruck">
                            <div class="picture">
                                <img src="assets/imgs/portfolio/roadandtruck-1.jpg" alt="">                       
                                <!-- Picture Overlay Starts -->													
                                <div class="text-overlay">
                                    <div class="category">Road & Truck</div>
                                    <h2><a class="image-popup-vertical-fit" href="assets/imgs/portfolio/roadandtruck-1.jpg" title="Product Name">Road & Truck</a></h2>
                                </div>
                                <div class="icon-overlay">
                                    <div class="icon"><a class="image-popup-vertical-fit" href="assets/imgs/portfolio/roadandtruck-1.jpg" title="Product Name"><i class="las la-expand-arrows-alt"></i></a></div>
                                </div>
                                <!-- Picture Overlay Ends -->
                            </div>
                        </figure>
                        <!-- Project 4 Ends --> 
                        <!-- Project 3 Starts -->
                        <figure class="item airplane">
                            <div class="picture">
                                <img src="assets/imgs/portfolio/airplane-2.jpg" alt="">                       
                                <!-- Picture Overlay Starts -->													
                                <div class="text-overlay">
                                    <div class="category">Airplane</div>
                                    <h2><a class="image-popup-vertical-fit" href="assets/imgs/portfolio/airplane-2.jpg" title="Product Name">Airplane</a></h2>
                                </div>
                                <div class="icon-overlay">
                                    <div class="icon"><a class="image-popup-vertical-fit" href="assets/imgs/portfolio/airplane-2.jpg" title="Product Name"><i class="las la-expand-arrows-alt"></i></a></div>
                                </div>
                                <!-- Picture Overlay Ends -->
                            </div>
                        </figure>
                        <!-- Project 3 Ends --> 
                        <!-- Project 8 Starts -->
                        <figure class="item roadandtruck">
                            <div class="picture">
                                <img src="assets/imgs/portfolio/roadandtruck-3.jpg" alt="">                       
                                <!-- Picture Overlay Starts -->													
                                <div class="text-overlay">
                                    <div class="category">Road & Truck</div>
                                    <h2><a class="image-popup-vertical-fit" href="assets/imgs/portfolio/roadandtruck-3.jpg" title="Product Name">Road & Truck</a></h2>
                                </div>
                                <div class="icon-overlay">
                                    <div class="icon"><a class="image-popup-vertical-fit" href="assets/imgs/portfolio/roadandtruck-3.jpg" title="Product Name"><i class="las la-expand-arrows-alt"></i></a></div>
                                </div>
                                <!-- Picture Overlay Ends -->
                            </div>
                        </figure>
                        <!-- Project 8 Ends -->
                        <!-- Project 3 Starts -->
                        <figure class="item maritime">
                            <div class="picture">
                                <img src="assets/imgs/portfolio/maritime-3.jpg" alt="">                       
                                <!-- Picture Overlay Starts -->													
                                <div class="text-overlay">
                                    <div class="category">Maritime</div>
                                    <h2><a class="image-popup-vertical-fit" href="assets/imgs/portfolio/maritime-3.jpg" title="Product Name">Maritime</a></h2>
                                </div>
                                <div class="icon-overlay">
                                    <div class="icon"><a class="image-popup-vertical-fit" href="assets/imgs/portfolio/maritime-3.jpg" title="Product Name"><i class="las la-expand-arrows-alt"></i></a></div>
                                </div>
                                <!-- Picture Overlay Ends -->
                            </div>
                        </figure>
                        <!-- Project 3 Ends -->
                        <!-- Project 5 Starts -->
                        <figure class="item videos">
                            <div class="picture">
                                <img src="assets/imgs/portfolio/vid-3.jpg" alt="">                       
                                <!-- Picture Overlay Starts -->													
                                <div class="text-overlay">
                                    <div class="category">video</div>
                                    <h2><a class="popup-youtube" href="http://www.youtube.com/watch?v=0O2aH4XLbto">Video</a></h2>
                                </div>
                                <div class="icon-overlay">
                                    <div class="icon"><a class="popup-youtube" href="http://www.youtube.com/watch?v=0O2aH4XLbto"><i class="las la-expand-arrows-alt"></i></a></div>
                                </div>
                                <!-- Picture Overlay Ends -->
                            </div>
                        </figure>
                        <!-- Project 5 Ends --> 
                        <!-- Project 7 Starts -->
                        <figure class="item roadandtruck">
                            <div class="picture">
                                <img src="assets/imgs/portfolio/roadandtruck-2.jpg" alt="">                       
                                <!-- Picture Overlay Starts -->													
                                <div class="text-overlay">
                                    <div class="category">Road & Truck</div>
                                    <h2><a class="image-popup-vertical-fit" href="assets/imgs/portfolio/roadandtruck-2.jpg" title="Product Name">Road & Truck</a></h2>
                                </div>
                                <div class="icon-overlay">
                                    <div class="icon"><a class="image-popup-vertical-fit" href="assets/imgs/portfolio/roadandtruck-2.jpg" title="Product Name"><i class="las la-expand-arrows-alt"></i></a></div>
                                </div>
                                <!-- Picture Overlay Ends -->
                            </div>
                        </figure>
                        <!-- Project 7 Ends -->
                        <!-- Project 6 Starts -->
                        <figure class="item airplane">
                            <div class="picture">
                                <img src="assets/imgs/portfolio/airplane-1.jpg" alt="">                       
                                <!-- Picture Overlay Starts -->													
                                <div class="text-overlay">
                                    <div class="category">Airplane</div>
                                    <h2><a class="image-popup-vertical-fit" href="assets/imgs/portfolio/airplane-1.jpg" title="Product Name">Airplane</a></h2>
                                </div>
                                <div class="icon-overlay">
                                    <div class="icon"><a class="image-popup-vertical-fit" href="assets/imgs/portfolio/airplane-1.jpg" title="Product Name"><i class="las la-expand-arrows-alt"></i></a></div>
                                </div>
                                <!-- Picture Overlay Ends -->
                            </div>
                        </figure>
                        <!-- Project 6 Ends --> 
                        <!-- Project 1 Starts -->
                        <figure class="item videos">
                            <div class="picture">
                                <img src="assets/imgs/portfolio/vid-4.jpg" alt="">                       
                                <!-- Picture Overlay Starts -->													
                                <div class="text-overlay">
                                    <div class="category">video</div>
                                    <h2><a class="popup-vimeo" href="https://vimeo.com/45830194">Video</a></h2>
                                </div>
                                <div class="icon-overlay">
                                    <div class="icon"><a class="popup-vimeo" href="https://vimeo.com/45830194"><i class="las la-expand-arrows-alt"></i></a></div>
                                </div>
                                <!-- Picture Overlay Ends -->
                            </div>
                        </figure>
                        <!-- Project 1 Ends --> 
                        <!-- Project 4 Starts -->
                        <figure class="item roadandtruck">
                            <div class="picture">
                                <img src="assets/imgs/portfolio/roadandtruck-4.jpg" alt="">                       
                                <!-- Picture Overlay Starts -->													
                                <div class="text-overlay">
                                    <div class="category">Road & Truck</div>
                                    <h2><a class="image-popup-vertical-fit" href="assets/imgs/portfolio/roadandtruck-4.jpg" title="Product Name">Road & Truck</a></h2>
                                </div>
                                <div class="icon-overlay">
                                    <div class="icon"><a class="image-popup-vertical-fit" href="assets/imgs/portfolio/roadandtruck-4.jpg" title="Product Name"><i class="las la-expand-arrows-alt"></i></a></div>
                                </div>
                                <!-- Picture Overlay Ends -->
                            </div>
                        </figure>
                        <!-- Project 4 Ends --> 
                        <!-- Project 2 Starts -->
                        <figure class="item maritime">
                            <div class="picture">
                                <img src="assets/imgs/portfolio/maritime-2.jpg" alt="">
                                <!-- Picture Overlay Starts -->													
                                <div class="text-overlay">
                                    <div class="category">Road & Truck</div>
                                    <h2><a class="image-popup-vertical-fit" href="assets/imgs/portfolio/maritime-2.jpg" title="Product Name">Maritime</a></h2>
                                </div>
                                <div class="icon-overlay">
                                    <div class="icon"><a class="image-popup-vertical-fit" href="assets/imgs/portfolio/maritime-2.jpg" title="Product Name"><i class="las la-expand-arrows-alt"></i></a></div>
                                </div>
                                <!-- Picture Overlay Ends -->
                            </div>
                        </figure>
                        <!-- Project 2 Ends --> 
                        <!-- Project 2 Starts -->
                        <figure class="item videos">
                            <div class="picture">
                                <img src="assets/imgs/portfolio/vid-2.jpg" alt="">
                                <!-- Picture Overlay Starts -->													
                                <div class="text-overlay">
                                    <div class="category">video</div>
                                    <h2><a class="popup-vimeo" href="https://vimeo.com/45830194">Video</a></h2>
                                </div>
                                <div class="icon-overlay">
                                    <div class="icon"><a class="popup-vimeo" href="https://vimeo.com/45830194"><i class="las la-expand-arrows-alt"></i></a></div>
                                </div>
                                <!-- Picture Overlay Ends -->
                            </div>
                        </figure>
                        <!-- Project 2 Ends --> 
                        <!-- Project 3 Starts -->
                        <figure class="item airplane">
                            <div class="picture">
                                <img src="assets/imgs/portfolio/airplane-3.jpg" alt="">                       
                                <!-- Picture Overlay Starts -->													
                                <div class="text-overlay">
                                    <div class="category">Airplane</div>
                                    <h2><a class="image-popup-vertical-fit" href="assets/imgs/portfolio/airplane-3.jpg" title="Product Name">Airplane</a></h2>
                                </div>
                                <div class="icon-overlay">
                                    <div class="icon"><a class="image-popup-vertical-fit" href="assets/imgs/portfolio/airplane-3.jpg" title="Product Name"><i class="las la-expand-arrows-alt"></i></a></div>
                                </div>
                                <!-- Picture Overlay Ends -->
                            </div>
                        </figure>
                        <!-- Project 3 Ends --> 
                        <!-- Project 4 Starts -->
                        <figure class="item maritime">
                            <div class="picture">
                                <img src="assets/imgs/portfolio/maritime-1.jpg" alt="">                       
                                <!-- Picture Overlay Starts -->													
                                <div class="text-overlay">
                                    <div class="category">Maritime</div>
                                    <h2><a class="image-popup-vertical-fit" href="assets/imgs/portfolio/maritime-1.jpg" title="Product Name">Maritime</a></h2>
                                </div>
                                <div class="icon-overlay">
                                    <div class="icon"><a class="image-popup-vertical-fit" href="assets/imgs/portfolio/maritime-1.jpg" title="Product Name"><i class="las la-expand-arrows-alt"></i></a></div>
                                </div>
                                <!-- Picture Overlay Ends -->
                            </div>
                        </figure>
                        <!-- Project 4 Ends --> 
                    </div>
                </div>
            </div>
			</div>
        </section>
        <!-- /. PORTFOLIO ENDS
            ========================================================================= -->
        <!-- ABOUT US STARTS
            ========================================================================= -->	
        <section class="home-intro pt-5" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-4">
                        <div class="service-block animated" data-animation="fadeInUp" data-animation-delay="200">
                            <div class="pt-1 pb-5">
                                <div class="info">
                                    <div class="icon"><img src="assets/imgs/about/1.svg" alt=""></div>
                                    <div class="text">
                                        <h4>100% Satifaction</h4>
                                        <div>Lorem Ipsum</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 ">
                        <div class="service-block animated" data-animation="fadeInUp" data-animation-delay="300">
                            <div class="pt-1 pb-5">
                                <div class="info">
                                    <div class="icon"><img src="assets/imgs/about/3.svg" alt=""></div>
                                    <div class="text">
                                        <h4>Fast Delivery</h4>
                                        <div>Lorem Ipsum</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 ">
                        <div class="service-block animated" data-animation="fadeInUp" data-animation-delay="400">
                            <div class="pt-1 pb-5">
                                <div class="info">
                                    <div class="icon"><img src="assets/imgs/about/2.svg" alt=""></div>
                                    <div class="text">
                                        <h4>24x7 Service</h4>
                                        <div>Lorem Ipsumy</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /. ABOUT US ENDS
            ========================================================================= -->
        <!-- TESTIMONIALS STARTS
            ========================================================================= -->	
        <section class="testimonials pt-0">
            <div class="container">
                <div class="row align-items-start align-items-md-center">
                    <div class="col-12 col-lg-6 col-xl-6  testimonials-block" >
                        <div class="herotext  animated" data-animation="fadeInUp" data-animation-delay="100">
                            <div class="rightline pb-3"><span>Testimonials</span></div>
                            <h2>Success stories from our client</h2>
                        </div>
                        <div class="testimonials-carousel pt-4   animated" data-animation="fadeInUp" data-animation-delay="300">
                            <div class="testimonial">
                                <div class="d-flex align-items-center">
                                    <div class="pic"><img src="assets/imgs/testimonials/1.jpg" class="img-fluid" alt=""></div>
                                    <div class="detail">
                                        <div class="name">Alexandra Grant</div>
                                        <div class="designation">los Angeles, usa</div>
                                    </div>
                                </div>
                                <p class="pt-3">“ We are full-cycle software development and digital solutions company with rich expertise and focus on the latest technologies ”</p>
                            </div>
                            <div class="testimonial">
                                <div class="d-flex align-items-center">
                                    <div class="pic"><img src="assets/imgs/testimonials/2.jpg" class="img-fluid" alt=""></div>
                                    <div class="detail">
                                        <div class="name">Alexandra Grant</div>
                                        <div class="designation">los Angeles, usa</div>
                                    </div>
                                </div>
                                <p class="pt-3">“ We are full-cycle software development and digital solutions company with rich expertise and focus on the latest technologies ”</p>
                            </div>
                            <div class="testimonial">
                                <div class="d-flex align-items-center">
                                    <div class="pic"><img src="assets/imgs/testimonials/3.jpg" class="img-fluid" alt=""></div>
                                    <div class="detail">
                                        <div class="name">Alexandra Grant</div>
                                        <div class="designation">los Angeles, usa</div>
                                    </div>
                                </div>
                                <p class="pt-3">“ We are full-cycle software development and digital solutions company with rich expertise and focus on the latest technologies ”</p>
                            </div>
                        </div>
                        <!--<div class="slider-counter"></div>-->
                    </div>
                    <div class="col-12 col-lg-6 col-xl-6 pe-3 ps-3 animated" data-animation="fadeInUp" data-animation-delay="400"><img src="assets/imgs/testimonials/big.png" class="img-fluid" alt=""></div>
                </div>
            </div>
        </section>
        <!-- /.. TESTIMONIALS ENDS
            ========================================================================= -->
        <!-- FOOTER STARTS
            ========================================================================= -->
        <footer class="rich-black-bg text-left">
            <div class="container">
                <div class="row pb-3">
                    <div class="col-lg-4 col-12 socialmedia animated" data-animation="fadeInUp" data-animation-delay="100">
                        <strong>THIS ONE</strong><br>
                        <p class="pt-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <ul class="pt-1 SM">
                            <li><a href=""><i class="lab la-twitter"></i></a></li>
                            <li><a href=""><i class="lab la-facebook-f"></i></a></li>
                            <li><a href=""><i class="lab la-behance"></i></a></li>
                            <li><a href=""><i class="lab la-dribbble"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2  col-6 links offset-lg-1 animated" data-animation="fadeInUp" data-animation-delay="100">
                        <strong>Company</strong><br>
                        <ul class="pt-3">
                            <li><a href="about-us.html">ABOUT</a></li>
                            <li><a href="services.html">SERVICES</a></li>
                            <li><a href="gallery.html">GALLARY</a></li>
                            <li><a href="blog.html">BLOG</a></li>
                            <li><a href="contact.html">CONTACT</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-6 links animated" data-animation="fadeInUp" data-animation-delay="100">
                        <strong>Our Services</strong><br>
                        <ul class="pt-3">
                            <li><a href="services.html">Air Freight</a></li>
                            <li><a href="services.html">Maritime Freight</a></li>
                            <li><a href="services.html">Ground Freight</a></li>
                            <li><a href="services.html">Home Delivery</a></li>
                            <li><a href="services.html">24/7 Support</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-12 contact-info animated" data-animation="fadeInUp" data-animation-delay="100">
                        <strong>Seamless Logistics, Faster Deliveries</strong><br>
                        <ul class="pt-3">
                            <li><i class="las la-map-marker"></i> 936 Kiehn Route, <br>10013 New York United States</li>
                            <li><i class="las la-envelope"></i> <a href="#">asfdasd@gmail.com</a></li>
                            <li><i class="las la-phone"></i> +1 234 567890</li>
                        </ul>
                    </div>
                </div>
                <hr>
                <div class="row pt-3 copyright text-center animated" data-animation="fadeInUp" data-animation-delay="500">
                    <div class="col-12">							
                        THIS ONE ©2025. All rights reserved
                    </div>
                </div>
            </div>
        </footer>
        <!-- /.. FOOTER ENDS
            ========================================================================= -->
        <!-- TO TOP STARTS
            ========================================================================= -->
        <a href="#top" class="back-to-top"><i class="las la-angle-up"></i></a>
        <!-- /.. TO TOP ENDS
            ========================================================================= -->
        <!-- INCLUD ALL JS FILES 
            ========================================================================= -->
        <!--JQUERY MIN JS-->
        <script src="assets/lib/jquery-1.12.4/jquery.min.js"></script>
        <!--BOOTSTRAP JS-->
        <script src="assets/lib/bootstrap/js/bootstrap.min.js"></script>
        <!-- PRELOADER -->
        <script src="assets/lib/preloader/sPreloader.js"></script>
        <!-- Animation --> 
        <script src="assets/lib/animations/jquery.appear.js"></script>
        <!-- OWL CAROUSEL --> 
        <script src="assets/lib/owl-carousel/owl.carousel.js"></script> 
        <!-- ISOTOPE GALLERY --> 
        <script src="assets/lib/isotope/jquery.isotope.min.js"></script> 
        <script src="assets/lib/isotope/custom-isotope-mansory.js"></script> 
        <!-- MAGNIFIC POPUP -->
        <script src="assets/lib/magnific-popup/jquery.magnific-popup.js"></script>
        <!-- CUSTOM JS -->
        <script src="assets/js/script.js"></script>
    </body>
</html>