        <!-- FOOTER STARTS
            ========================================================================= -->
        <footer class="rich-black-bg text-left">
            <div class="container">
                <div class="row pb-3">
                    <div class="col-lg-4 col-12 socialmedia animated" data-animation="fadeInUp" data-animation-delay="100">
                        <strong>THIS ONE</strong><br>
                        <p class="pt-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <ul class="pt-1 SM">
                            <li><a href=""><i class="lab la-twitter"></i></a></li>
                            <li><a href=""><i class="lab la-facebook-f"></i></a></li>
                            <li><a href=""><i class="lab la-behance"></i></a></li>
                            <li><a href=""><i class="lab la-dribbble"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2  col-6 links offset-lg-1 animated" data-animation="fadeInUp" data-animation-delay="100">
                        <strong>Company</strong><br>
                        <ul class="pt-3">
                            <li><a href="about.html">ABOUT</a></li>
                            <li><a href="services.html">SERVICES</a></li>
                            <li><a href="gallery.html">GALLARY</a></li>
                            <li><a href="blog.html">BLOG</a></li>
                            <li><a href="contact.html">CONTACT</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-6 links animated" data-animation="fadeInUp" data-animation-delay="100">
                        <strong>Our Services</strong><br>
                        <ul class="pt-3">
                            <li><a href="services.html">Air Freight</a></li>
                            <li><a href="services.html">Maritime Freight</a></li>
                            <li><a href="services.html">Ground Freight</a></li>
                            <li><a href="services.html">Home Delivery</a></li>
                            <li><a href="services.html">24/7 Support</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-12 contact-info animated" data-animation="fadeInUp" data-animation-delay="100">
                        <strong>Seamless Logistics, Faster Deliveries</strong><br>
                        <ul class="pt-3">
                            <li><i class="las la-map-marker"></i> 936 Kiehn Route, <br>10013 New York United States</li>
                            <li><i class="las la-envelope"></i> <a href="#">asfdasd@gmail.com</a></li>
                            <li><i class="las la-phone"></i> +1 234 567890</li>
                        </ul>
                    </div>
                </div>
                <hr>
                <div class="row pt-3 copyright text-center animated" data-animation="fadeInUp" data-animation-delay="500">
                    <div class="col-12">
                        THIS ONE ©2025. All rights reserved
                    </div>
                </div>
            </div>
        </footer>
        <!-- /.. FOOTER ENDS
            ========================================================================= -->