{% load static %}
        <script src="{% static 'website/assets/lib/jquery-1.12.4/jquery.min.js' %}"></script>
        <!--BOOTSTRAP JS-->
        <script src="{% static 'website/assets/lib/bootstrap/js/bootstrap.min.js' %}"></script>
        <!-- PRELOADER -->
        <script src="{% static 'website/assets/lib/preloader/sPreloader.js' %}"></script>
        <!-- Animation -->
        <script src="{% static 'website/assets/lib/animations/jquery.appear.js' %}"></script>
        <!-- OWL CAROUSEL -->
        <script src="{% static 'website/assets/lib/owl-carousel/owl.carousel.js' %}"></script>
        <!-- ISOTOPE GALLERY -->
        <script src="{% static 'website/assets/lib/isotope/jquery.isotope.min.js' %}"></script>
        <script src="{% static 'website/assets/lib/isotope/custom-isotope-mansory.js' %}"></script>
        <!-- MAGNIFIC POPUP -->
        <script src="{% static 'website/assets/lib/magnific-popup/jquery.magnific-popup.js' %}"></script>
        <!-- CUSTOM JS -->
        <script src="{% static 'website/assets/js/script.js' %}"></script>