{% load static %}

<!-- ABOUT US STARTS -->
<section class="home-intro" id="about">
    <div class="container">
        <div class="row align-items-center pb-5">

            <!-- Image principale -->
            <div class="col-12 col-lg-5 pt-4 pt-lg-0 animated" data-animation="fadeInUp" data-animation-delay="350">
                <img src="{% static 'website/assets/imgs/about/pic1.png' %}" class="img-fluid pic" alt="">
            </div>

            <!-- Texte principal -->
            <div class="col-12 col-lg-6 offset-lg-1">
                <div class="herotext animated" data-animation="fadeInUp" data-animation-delay="100">
                    <div class="rightline pb-3">
                        <span>{{ about.section_title }}</span>
                    </div>

                    <h2>{{ about.about_title }}</h2>

                    <h5 class="pt-2">
                        {{ about.description }}
                        <br><br>
                        <strong>{{ about.about_author }}</strong><br>
                        {{ about.about_fonction }}
                    </h5>
                </div>
            </div>
        </div>

        <!-- Services dynamiques -->
        <div class="row pt-5">
            {% for service in about.about_service %}
                <div class="col-12 col-lg-4">
                    <div class="service-block animated" data-animation="fadeInUp" data-animation-delay="{{ 200|add:forloop.counter0|add:forloop.counter0|add:forloop.counter0 }}">
                        <div class="pt-1 pb-5">
                            <div class="info">
                                <div class="icon">
                                    <img src="{% static 'website/assets/imgs/about/' %}{{ service.img }}" alt="">
                                </div>
                                <div class="text">
                                    <h4>{{ service.title }}</h4>
                                    <div>{{ service.description }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- /. ABOUT US ENDS -->
