{% load static %}

<!-- ABOUT US STARTS
            ========================================================================= -->
        <section class="home-intro" id="about">
            <div class="container">
                <div class="row align-items-center pb-5">
                    <div class="col-12 col-lg-5 pt-4 pt-lg-0 animated" data-animation="fadeInUp" data-animation-delay="350">
                        <img src="{% static 'website/assets/imgs/about/pic1.png' %}" class="img-fluid pic" alt="">
                    </div>
                    <div class="col-12 col-lg-6 offset-lg-1">
                        <div class="herotext animated" data-animation="fadeInUp" data-animation-delay="100">
                            <div class="rightline pb-3"><span>{{ about[section_title] }}</span></div>
                            <h2>Making transportation<br> fast and safe</h2>
                            <h5 class="pt-2">Lorem Ipsum is simply dummy  text of the printing and typesetting industry. lorem Ipsum has been the industry standard dummy text ever since the when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                <br><br><strong>Tom Henders</strong><br>CEO of Company
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="row pt-5">
                    <div class="col-12 col-lg-4">
                        <div class="service-block animated" data-animation="fadeInUp" data-animation-delay="200">
                            <div class="pt-1 pb-5">
                                <div class="info">
                                    <div class="icon"><img src="{% static 'website/assets/imgs/about/1.svg' %}" alt=""></div>
                                    <div class="text">
                                        <h4>100% Satifaction</h4>
                                        <div>Lorem Ipsum</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 ">
                        <div class="service-block animated" data-animation="fadeInUp" data-animation-delay="300">
                            <div class="pt-1 pb-5">
                                <div class="info">
                                    <div class="icon"><img src="{% static 'website/assets/imgs/about/3.svg' %}" alt=""></div>
                                    <div class="text">
                                        <h4>Fast Delivery</h4>
                                        <div>Lorem Ipsum</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 ">
                        <div class="service-block animated" data-animation="fadeInUp" data-animation-delay="400">
                            <div class="pt-1 pb-5">
                                <div class="info">
                                    <div class="icon"><img src="{% static 'website/assets/imgs/about/2.svg' %}" alt=""></div>
                                    <div class="text">
                                        <h4>24x7 Service</h4>
                                        <div>Lorem Ipsumy</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /. ABOUT US ENDS
            ========================================================================= -->