{% load static %}


<!-- PORTFOLIO STARTS
            ========================================================================= -->
        <section id="portfolio" class="portfolio pb-0">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="herotext text-center  animated" data-animation="fadeInUp" data-animation-delay="100">
                            <div class="lrline pb-3"><span>Our Gallery</span></div>
                            <h2>Seamless logistics, faster deliveries</h2>
                            <h5 class="pt-2">Whatever item needs to be delivered or shipped, we're capable to do that!</h5>
                        </div>
                    </div>
                </div>
                <div class="row pt-5 pb-3">
                    <!-- Portfolio Nav Starts -->
                    <div class="col-12">
                        <div id="options" class=" animated" data-animation="fadeInUp" data-animation-delay="200">
                            <ul id="filters" class="option-set clearfix" data-option-key="filter">
                                <li><a href="#filter" data-option-value="*" class="selected">ALL</a></li>
                                <li><a href="#filter" data-option-value=".roadandtruck">Road & Truck</a></li>
                                <li><a href="#filter" data-option-value=".airplane">Airplane</a></li>
                                <li><a href="#filter" data-option-value=".maritime">Maritime</a></li>
                                <li><a href="#filter" data-option-value=".videos">Videos</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
            <div class="row">
                <!-- Portfolio Nav Ends -->
                <div class="col-12">
                    <!-- Portfolio Thumbs Starts -->
                    <div class="make4columns portfolio-grid">
                        <!-- Project 1 Starts -->
                        <figure class="item airplane">
                            <div class="picture">
                                <img src="{% static 'website/assets/imgs/portfolio/airplane-4.jpg' %}" alt="">
                                <!-- Picture Overlay Starts -->
                                <div class="text-overlay">
                                    <div class="category">Airplane</div>
                                    <h2><a class="image-popup-vertical-fit" href="assets/imgs/portfolio/airplane-4.jpg" title="Product Name">Airplane</a></h2>
                                </div>
                                <div class="icon-overlay">
                                    <div class="icon"><a class="image-popup-vertical-fit" href="assets/imgs/portfolio/airplane-4.jpg" title="Product Name"><i class="las la-expand-arrows-alt"></i></a></div>
                                </div>
                                <!-- Picture Overlay Ends -->
                            </div>
                        </figure>
                        <!-- Project 1 Ends -->
                        <!-- Project 3 Starts -->
                        <figure class="item maritime">
                            <div class="picture">
                                <img src="{% static 'website/assets/imgs/portfolio/maritime-4.jpg' %}" alt="">
                                <!-- Picture Overlay Starts -->
                                <div class="text-overlay">
                                    <div class="category">Maritime</div>
                                    <h2><a class="image-popup-vertical-fit" href="assets/imgs/portfolio/maritime-4.jpg" title="Product Name">Maritime</a></h2>
                                </div>
                                <div class="icon-overlay">
                                    <div class="icon"><a class="image-popup-vertical-fit" href="assets/imgs/portfolio/maritime-4.jpg" title="Product Name"><i class="las la-expand-arrows-alt"></i></a></div>
                                </div>
                                <!-- Picture Overlay Ends -->
                            </div>
                        </figure>
                        <!-- Project 3 Ends -->
                        <!-- Project 2 Starts -->
                        <figure class="item videos">
                            <div class="picture">
                                <img src="{% static 'website/assets/imgs/portfolio/vid-1.jpg' %}" alt="">
                                <!-- Picture Overlay Starts -->
                                <div class="text-overlay">
                                    <div class="category">video</div>
                                    <h2><a class="popup-vimeo" href="https://vimeo.com/45830194">Product Name</a></h2>
                                </div>
                                <div class="icon-overlay">
                                    <div class="icon"><a class="popup-vimeo" href="https://vimeo.com/45830194"><i class="las la-expand-arrows-alt"></i></a></div>
                                </div>
                                <!-- Picture Overlay Ends -->
                            </div>
                        </figure>
                        <!-- Project 2 Ends -->
                        <!-- Project 4 Starts -->
                        <figure class="item roadandtruck">
                            <div class="picture">
                                <img src="{% static 'website/assets/imgs/portfolio/roadandtruck-1.jpg' %}" alt="">
                                <!-- Picture Overlay Starts -->
                                <div class="text-overlay">
                                    <div class="category">Road & Truck</div>
                                    <h2><a class="image-popup-vertical-fit" href="assets/imgs/portfolio/roadandtruck-1.jpg" title="Product Name">Road & Truck</a></h2>
                                </div>
                                <div class="icon-overlay">
                                    <div class="icon"><a class="image-popup-vertical-fit" href="assets/imgs/portfolio/roadandtruck-1.jpg" title="Product Name"><i class="las la-expand-arrows-alt"></i></a></div>
                                </div>
                                <!-- Picture Overlay Ends -->
                            </div>
                        </figure>
                        <!-- Project 4 Ends -->
                        <!-- Project 3 Starts -->
                        <figure class="item airplane">
                            <div class="picture">
                                <img src="{% static 'website/assets/imgs/portfolio/airplane-2.jpg' %}" alt="">
                                <!-- Picture Overlay Starts -->
                                <div class="text-overlay">
                                    <div class="category">Airplane</div>
                                    <h2><a class="image-popup-vertical-fit" href="assets/imgs/portfolio/airplane-2.jpg" title="Product Name">Airplane</a></h2>
                                </div>
                                <div class="icon-overlay">
                                    <div class="icon"><a class="image-popup-vertical-fit" href="assets/imgs/portfolio/airplane-2.jpg" title="Product Name"><i class="las la-expand-arrows-alt"></i></a></div>
                                </div>
                                <!-- Picture Overlay Ends -->
                            </div>
                        </figure>
                        <!-- Project 3 Ends -->
                        <!-- Project 8 Starts -->
                        <figure class="item roadandtruck">
                            <div class="picture">
                                <img src="{% static 'website/assets/imgs/portfolio/roadandtruck-3.jpg' %}" alt="">
                                <!-- Picture Overlay Starts -->
                                <div class="text-overlay">
                                    <div class="category">Road & Truck</div>
                                    <h2><a class="image-popup-vertical-fit" href="assets/imgs/portfolio/roadandtruck-3.jpg" title="Product Name">Road & Truck</a></h2>
                                </div>
                                <div class="icon-overlay">
                                    <div class="icon"><a class="image-popup-vertical-fit" href="assets/imgs/portfolio/roadandtruck-3.jpg" title="Product Name"><i class="las la-expand-arrows-alt"></i></a></div>
                                </div>
                                <!-- Picture Overlay Ends -->
                            </div>
                        </figure>
                        <!-- Project 8 Ends -->
                        <!-- Project 3 Starts -->
                        <figure class="item maritime">
                            <div class="picture">
                                <img src="{% static 'website/assets/imgs/portfolio/maritime-3.jpg' %}" alt="">
                                <!-- Picture Overlay Starts -->
                                <div class="text-overlay">
                                    <div class="category">Maritime</div>
                                    <h2><a class="image-popup-vertical-fit" href="assets/imgs/portfolio/maritime-3.jpg" title="Product Name">Maritime</a></h2>
                                </div>
                                <div class="icon-overlay">
                                    <div class="icon"><a class="image-popup-vertical-fit" href="assets/imgs/portfolio/maritime-3.jpg" title="Product Name"><i class="las la-expand-arrows-alt"></i></a></div>
                                </div>
                                <!-- Picture Overlay Ends -->
                            </div>
                        </figure>
                        <!-- Project 3 Ends -->
                        <!-- Project 5 Starts -->
                        <figure class="item videos">
                            <div class="picture">
                                <img src="{% static 'website/assets/imgs/portfolio/vid-3.jpg' %}" alt="">
                                <!-- Picture Overlay Starts -->
                                <div class="text-overlay">
                                    <div class="category">video</div>
                                    <h2><a class="popup-youtube" href="http://www.youtube.com/watch?v=0O2aH4XLbto">Video</a></h2>
                                </div>
                                <div class="icon-overlay">
                                    <div class="icon"><a class="popup-youtube" href="http://www.youtube.com/watch?v=0O2aH4XLbto"><i class="las la-expand-arrows-alt"></i></a></div>
                                </div>
                                <!-- Picture Overlay Ends -->
                            </div>
                        </figure>
                        <!-- Project 5 Ends -->
                        <!-- Project 7 Starts -->
                        <figure class="item roadandtruck">
                            <div class="picture">
                                <img src="{% static 'website/assets/imgs/portfolio/roadandtruck-2.jpg' %}" alt="">
                                <!-- Picture Overlay Starts -->
                                <div class="text-overlay">
                                    <div class="category">Road & Truck</div>
                                    <h2><a class="image-popup-vertical-fit" href="assets/imgs/portfolio/roadandtruck-2.jpg" title="Product Name">Road & Truck</a></h2>
                                </div>
                                <div class="icon-overlay">
                                    <div class="icon"><a class="image-popup-vertical-fit" href="assets/imgs/portfolio/roadandtruck-2.jpg" title="Product Name"><i class="las la-expand-arrows-alt"></i></a></div>
                                </div>
                                <!-- Picture Overlay Ends -->
                            </div>
                        </figure>
                        <!-- Project 7 Ends -->
                        <!-- Project 6 Starts -->
                        <figure class="item airplane">
                            <div class="picture">
                                <img src="{% static 'website/assets/imgs/portfolio/airplane-1.jpg' %}" alt="">
                                <!-- Picture Overlay Starts -->
                                <div class="text-overlay">
                                    <div class="category">Airplane</div>
                                    <h2><a class="image-popup-vertical-fit" href="assets/imgs/portfolio/airplane-1.jpg" title="Product Name">Airplane</a></h2>
                                </div>
                                <div class="icon-overlay">
                                    <div class="icon"><a class="image-popup-vertical-fit" href="assets/imgs/portfolio/airplane-1.jpg" title="Product Name"><i class="las la-expand-arrows-alt"></i></a></div>
                                </div>
                                <!-- Picture Overlay Ends -->
                            </div>
                        </figure>
                        <!-- Project 6 Ends -->
                        <!-- Project 1 Starts -->
                        <figure class="item videos">
                            <div class="picture">
                                <img src="{% static 'website/assets/imgs/portfolio/vid-4.jpg' %}" alt="">
                                <!-- Picture Overlay Starts -->
                                <div class="text-overlay">
                                    <div class="category">video</div>
                                    <h2><a class="popup-vimeo" href="https://vimeo.com/45830194">Video</a></h2>
                                </div>
                                <div class="icon-overlay">
                                    <div class="icon"><a class="popup-vimeo" href="https://vimeo.com/45830194"><i class="las la-expand-arrows-alt"></i></a></div>
                                </div>
                                <!-- Picture Overlay Ends -->
                            </div>
                        </figure>
                        <!-- Project 1 Ends -->
                        <!-- Project 4 Starts -->
                        <figure class="item roadandtruck">
                            <div class="picture">
                                <img src="{% static 'website/assets/imgs/portfolio/roadandtruck-4.jpg' %}" alt="">
                                <!-- Picture Overlay Starts -->
                                <div class="text-overlay">
                                    <div class="category">Road & Truck</div>
                                    <h2><a class="image-popup-vertical-fit" href="assets/imgs/portfolio/roadandtruck-4.jpg" title="Product Name">Road & Truck</a></h2>
                                </div>
                                <div class="icon-overlay">
                                    <div class="icon"><a class="image-popup-vertical-fit" href="assets/imgs/portfolio/roadandtruck-4.jpg" title="Product Name"><i class="las la-expand-arrows-alt"></i></a></div>
                                </div>
                                <!-- Picture Overlay Ends -->
                            </div>
                        </figure>
                        <!-- Project 4 Ends -->
                        <!-- Project 2 Starts -->
                        <figure class="item maritime">
                            <div class="picture">
                                <img src="{% static 'website/assets/imgs/portfolio/maritime-2.jpg' %}" alt="">
                                <!-- Picture Overlay Starts -->
                                <div class="text-overlay">
                                    <div class="category">Road & Truck</div>
                                    <h2><a class="image-popup-vertical-fit" href="assets/imgs/portfolio/maritime-2.jpg" title="Product Name">Maritime</a></h2>
                                </div>
                                <div class="icon-overlay">
                                    <div class="icon"><a class="image-popup-vertical-fit" href="assets/imgs/portfolio/maritime-2.jpg" title="Product Name"><i class="las la-expand-arrows-alt"></i></a></div>
                                </div>
                                <!-- Picture Overlay Ends -->
                            </div>
                        </figure>
                        <!-- Project 2 Ends -->
                        <!-- Project 2 Starts -->
                        <figure class="item videos">
                            <div class="picture">
                                <img src="{% static 'website/assets/imgs/portfolio/vid-2.jpg' %}" alt="">
                                <!-- Picture Overlay Starts -->
                                <div class="text-overlay">
                                    <div class="category">video</div>
                                    <h2><a class="popup-vimeo" href="https://vimeo.com/45830194">Video</a></h2>
                                </div>
                                <div class="icon-overlay">
                                    <div class="icon"><a class="popup-vimeo" href="https://vimeo.com/45830194"><i class="las la-expand-arrows-alt"></i></a></div>
                                </div>
                                <!-- Picture Overlay Ends -->
                            </div>
                        </figure>
                        <!-- Project 2 Ends -->
                        <!-- Project 3 Starts -->
                        <figure class="item airplane">
                            <div class="picture">
                                <img src="{% static 'website/assets/imgs/portfolio/airplane-3.jpg' %}" alt="">
                                <!-- Picture Overlay Starts -->
                                <div class="text-overlay">
                                    <div class="category">Airplane</div>
                                    <h2><a class="image-popup-vertical-fit" href="assets/imgs/portfolio/airplane-3.jpg" title="Product Name">Airplane</a></h2>
                                </div>
                                <div class="icon-overlay">
                                    <div class="icon"><a class="image-popup-vertical-fit" href="assets/imgs/portfolio/airplane-3.jpg" title="Product Name"><i class="las la-expand-arrows-alt"></i></a></div>
                                </div>
                                <!-- Picture Overlay Ends -->
                            </div>
                        </figure>
                        <!-- Project 3 Ends -->
                        <!-- Project 4 Starts -->
                        <figure class="item maritime">
                            <div class="picture">
                                <img src="{% static 'website/assets/imgs/portfolio/maritime-1.jpg' %}" alt="">
                                <!-- Picture Overlay Starts -->
                                <div class="text-overlay">
                                    <div class="category">Maritime</div>
                                    <h2><a class="image-popup-vertical-fit" href="assets/imgs/portfolio/maritime-1.jpg" title="Product Name">Maritime</a></h2>
                                </div>
                                <div class="icon-overlay">
                                    <div class="icon"><a class="image-popup-vertical-fit" href="assets/imgs/portfolio/maritime-1.jpg" title="Product Name"><i class="las la-expand-arrows-alt"></i></a></div>
                                </div>
                                <!-- Picture Overlay Ends -->
                            </div>
                        </figure>
                        <!-- Project 4 Ends -->
                    </div>
                </div>
            </div>
			</div>
        </section>
        <!-- /. PORTFOLIO ENDS
            ========================================================================= -->
        <!-- TEAM STARTS
            ========================================================================= -->
        <section class="team light-brown-bg mt-3" id="team">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="herotext text-center pb-5  animated" data-animation="fadeInUp" data-animation-delay="200">
                            <div class="lrline pb-3"><span>Our Team</span></div>
                            <h2>Meet our the best crew</h2>
                            <h5 class="pt-2">Whatever item needs to be delivered or shipped, we're capable to do that!</h5>
                        </div>
                    </div>
                </div>
                <div class="team-carousel animated" data-animation="fadeInUp" data-animation-delay="300">
                    <div class="block">
                        <div class="pic pb-4"><img src="{% static 'website/assets/imgs/team/1.jpg' %}" class="img-fluid" alt=""></div>
                        <div class="details">
                            <h2>John</h2>
                            <h6>CEO</h6>
                            <ul class="socialmedia pt-2">
                                <li><a href=""><i class="lab la-twitter"></i></a></li>
                                <li><a href=""><i class="lab la-facebook-f"></i></a></li>
                                <li><a href=""><i class="lab la-dribbble"></i></a></li>
                                <li><a href=""><i class="lab la-behance"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="block">
                        <div class="pic pb-4"><img src="{% static 'website/assets/imgs/team/2.jpg' %}" class="img-fluid" alt=""></div>
                        <div class="details">
                            <h2>Abigail</h2>
                            <h6>Director</h6>
                            <ul class="socialmedia pt-2">
                                <li><a href=""><i class="lab la-linkedin-in"></i></a></li>
                                <li><a href=""><i class="lab la-twitter"></i></a></li>
                                <li><a href=""><i class="lab la-facebook-f"></i></a></li>
                                <li><a href=""><i class="lab la-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="block">
                        <div class="pic pb-4"><img src="{% static 'website/assets/imgs/team/3.jpg' %}" class="img-fluid" alt=""></div>
                        <div class="details">
                            <h2>Anderson</h2>
                            <h6>Manager</h6>
                            <ul class="socialmedia pt-2">
                                <li><a href=""><i class="lab la-twitter"></i></a></li>
                                <li><a href=""><i class="lab la-facebook-f"></i></a></li>
                                <li><a href=""><i class="lab la-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="block">
                        <div class="pic pb-4"><img src="{% static 'website/assets/imgs/team/4.jpg' %}" class="img-fluid" alt=""></div>
                        <div class="details">
                            <h2>Donna</h2>
                            <h6>Analyst</h6>
                            <ul class="socialmedia pt-2">
                                <li><a href=""><i class="lab la-twitter"></i></a></li>
                                <li><a href=""><i class="lab la-facebook-f"></i></a></li>
                                <li><a href=""><i class="lab la-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="block">
                        <div class="pic pb-4"><img src="{% static 'website/assets/imgs/team/5.jpg' %}" class="img-fluid" alt=""></div>
                        <div class="details">
                            <h2>Bailey</h2>
                            <h6>Manager</h6>
                            <ul class="socialmedia pt-2">
                                <li><a href=""><i class="lab la-twitter"></i></a></li>
                                <li><a href=""><i class="lab la-facebook-f"></i></a></li>
                                <li><a href=""><i class="lab la-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.. TEAM ENDS
            ========================================================================= -->
        <!-- PRICING STARTS
            ========================================================================= -->
        <section class="pricing" id="pricing">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="herotext text-center  animated" data-animation="fadeInUp" data-animation-delay="100">
                            <div class="lrline pb-3"><span>Cheap Pricing</span></div>
                            <h2>Explore our membership pricing plans</h2>
                            <h5 class="pt-2">Whatever item needs to be delivered or shipped, we're capable to do that!</h5>
                        </div>
                    </div>
                </div>
                <div class="row pt-5 g-0 g-lg-5">
                    <div class="col col-md-4 text-start">
                        <div class="block  animated" data-animation="fadeInUp" data-animation-delay="300">
                            <div class="herotext p-4 pb-2">
                                <h4>Basic</h4>
                                <h2>$49<span>/month</span></h2>
                                <p>All plans include a 30 day trial!</p>
                            </div>
                            <ul class="pt-4">
                                <li><i class="lar la-check-circle"></i> 15 Active Projects</li>
                                <li><i class="lar la-check-circle"></i> 3GB of Space</li>
                                <li><i class="lar la-check-circle"></i> Unlimited Users</li>
                                <li><i class="lar la-check-circle"></i> Time Tracking</li>
                                <li><i class="lar la-check-circle"></i> Chat Support</li>
                                <li>&nbsp;</li>
                            </ul>
                            <div><a href="#" class="btn btn-primary w-100 mt-3">CHOOSE PLAN</a></div>
                        </div>
                    </div>
                    <div class="col col-md-4 text-start">
                        <div class="block best  animated" data-animation="fadeInUp" data-animation-delay="500">
                            <div class="herotext p-4  pb-2">
                                <h4>Popular</h4>
                                <h2>$99<span>/month</span></h2>
                                <p>All plans include a 30 day trial!</p>
                            </div>
                            <ul class="pt-4">
                                <li><i class="lar la-check-circle"></i> 35 Active Projects</li>
                                <li><i class="lar la-check-circle"></i> 10GB of Space</li>
                                <li><i class="lar la-check-circle"></i> Unlimited Users</li>
                                <li><i class="lar la-check-circle"></i> Time Tracking</li>
                                <li><i class="lar la-check-circle"></i> SSL Security</li>
                                <li><i class="lar la-check-circle"></i> Chat Support</li>
                            </ul>
                            <div><a href="#" class="btn btn-primary w-100 mt-3">CHOOSE PLAN</a></div>
                        </div>
                    </div>
                    <div class="col col-md-4  text-start">
                        <div class="block  animated" data-animation="fadeInUp" data-animation-delay="700">
                            <div class="herotext p-4 pb-2">
                                <h4>Enterprise</h4>
                                <h2>$199<span>/month</span></h2>
                                <p>All plans include a 30 day trial!</p>
                            </div>
                            <ul class="pt-4">
                                <li><i class="lar la-check-circle"></i> Unlimited Projects</li>
                                <li><i class="lar la-check-circle"></i> 50GB of Space</li>
                                <li><i class="lar la-check-circle"></i> Unlimited Users</li>
                                <li><i class="lar la-check-circle"></i> Time Tracking</li>
                                <li><i class="lar la-check-circle"></i> SSL Security</li>
                                <li><i class="lar la-check-circle"></i> Chat Support</li>
                            </ul>
                            <div><a href="#" class="btn btn-primary w-100 mt-3">CHOOSE PLAN</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.. PRICING ENDS
            ========================================================================= -->
        <!-- BLOG STARTS
            ========================================================================= -->
        <section class="blog light-brown-bg" id="blog">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="herotext text-center  animated" data-animation="fadeInUp" data-animation-delay="100">
                            <div class="lrline pb-3"><span>Stay Informed</span></div>
                            <h2>Latest news & insights</h2>
                            <h5 class="pt-2">Whatever item needs to be delivered or shipped, we're capable to do that!</h5>
                        </div>
                    </div>
                </div>
                <div class="row pt-5 g-0 g-lg-5">
                    <div class="col-12 col-md-4">
                        <div class="blog-post  animated" data-animation="fadeInUp" data-animation-delay="300">
                            <div class="pic pb-4"><img src="{% static 'website/assets/imgs/blog/1.jpg' %}" class="img-fluid" alt=""></div>
                            <h4><a href="blog.html">Inspiration</a></h4>
                            <h2><a href="single-blog-post-right-sidebar.html">Single Blog Post with Right Sidebar</a></h2>
                            <p>Cepteur sint occaecat cupidatat proident, taken possession of my entire soul, like these sweet mornings ...</p>
                            <ul class="meta">
                                <li>
                                    <a href=""><i class="las la-user-alt"></i> John</a>
                                </li>
                                <li>
                                    <a href=""><i class="las la-calendar"></i> 10 Jan, 2020</a>
                                </li>
                                <li>
                                    <a href=""><i class="lar la-comment"></i> 3</a>
                                </li>
                                <li>
                                    <a href=""><i class="lar la-eye"></i> 5.5K</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="blog-post  animated" data-animation="fadeInUp" data-animation-delay="500">
                            <div class="pic pb-4"><img src="{% static 'website/assets/imgs/blog/2.jpg' %}" class="img-fluid" alt=""></div>
                            <h4><a href="blog.html">Inspiration</a></h4>
                            <h2><a href="single-blog-post-left-sidebar.html">Single Blog Post with Left Sidebar</a></h2>
                            <p>Possession of my entire soul, like these sweet mornings of spring, taken possession of my entire soul ...</p>
                            <ul class="meta">
                                <li>
                                    <a href=""><i class="las la-user-alt"></i> John</a>
                                </li>
                                <li>
                                    <a href=""><i class="las la-calendar"></i> 10 Jan, 2020</a>
                                </li>
                                <li>
                                    <a href=""><i class="lar la-comment"></i> 3</a>
                                </li>
                                <li>
                                    <a href=""><i class="lar la-eye"></i> 5.5K</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="blog-post  animated" data-animation="fadeInUp" data-animation-delay="700">
                            <div class="pic pb-4"><img src="{% static 'website/assets/imgs/blog/3.jpg' %}" class="img-fluid" alt=""></div>
                            <h4><a href="blog.html">Inspiration</a></h4>
                            <h2><a href="single-blog-post-without-sidebar.html">Single Blog Post without Sidebar</a></h2>
                            <p>Taken possession of my entire soul, like these sweet mornings of springCepteur sint occaecat cuatat ...</p>
                            <ul class="meta">
                                <li>
                                    <a href=""><i class="las la-user-alt"></i> John</a>
                                </li>
                                <li>
                                    <a href=""><i class="las la-calendar"></i> 10 Jan, 2020</a>
                                </li>
                                <li>
                                    <a href=""><i class="lar la-comment"></i> 3</a>
                                </li>
                                <li>
                                    <a href=""><i class="lar la-eye"></i> 5.5K</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row pt-3 pt-lg-5">
                    <div class="col-12 text-center  animated" data-animation="fadeInUp" data-animation-delay="900"><a href="blog.html" class="btn btn-primary">VIEW ALL POSTS</a></div>
                </div>
            </div>
        </section>
        <!-- /.. BLOG ENDS
            ========================================================================= -->
        <!-- TESTIMONIALS STARTS
            ========================================================================= -->
        <section class="testimonials">
            <div class="container">
                <div class="row align-items-start align-items-md-center">
                    <div class="col-12 col-lg-6 col-xl-6  testimonials-block" >
                        <div class="herotext  animated" data-animation="fadeInUp" data-animation-delay="100">
                            <div class="rightline pb-3"><span>Testimonials</span></div>
                            <h2>Success stories from our client</h2>
                        </div>
                        <div class="testimonials-carousel pt-4   animated" data-animation="fadeInUp" data-animation-delay="300">
                            <div class="testimonial">
                                <div class="d-flex align-items-center">
                                    <div class="pic"><img src="{% static 'website/assets/imgs/testimonials/1.jpg' %}" class="img-fluid" alt=""></div>
                                    <div class="detail">
                                        <div class="name">Alexandra Grant</div>
                                        <div class="designation">los Angeles, usa</div>
                                    </div>
                                </div>
                                <p class="pt-3">“ We are full-cycle software development and digital solutions company with rich expertise and focus on the latest technologies ”</p>
                            </div>
                            <div class="testimonial">
                                <div class="d-flex align-items-center">
                                    <div class="pic"><img src="{% static 'website/assets/imgs/testimonials/2.jpg' %}" class="img-fluid" alt=""></div>
                                    <div class="detail">
                                        <div class="name">Alexandra Grant</div>
                                        <div class="designation">los Angeles, usa</div>
                                    </div>
                                </div>
                                <p class="pt-3">“ We are full-cycle software development and digital solutions company with rich expertise and focus on the latest technologies ”</p>
                            </div>
                            <div class="testimonial">
                                <div class="d-flex align-items-center">
                                    <div class="pic"><img src="{% static 'website/assets/imgs/testimonials/3.jpg' %}" class="img-fluid" alt=""></div>
                                    <div class="detail">
                                        <div class="name">Alexandra Grant</div>
                                        <div class="designation">los Angeles, usa</div>
                                    </div>
                                </div>
                                <p class="pt-3">“ We are full-cycle software development and digital solutions company with rich expertise and focus on the latest technologies ”</p>
                            </div>
                        </div>
                        <!--<div class="slider-counter"></div>-->
                    </div>
                    <div class="col-12 col-lg-6 col-xl-6 pe-3 ps-3 animated" data-animation="fadeInUp" data-animation-delay="400"><img src="{% static 'website/assets/imgs/testimonials/big.png" class="img-fluid" alt=""></div>
                </div>
            </div>
        </section>
        <!-- /.. TESTIMONIALS ENDS
            ========================================================================= -->
        <!-- CLIENTS STARTS
            ========================================================================= -->
        <section class="clients pt-0">
            <div class="container">
                <div class="row">
                    <div class="col-12  animated" data-animation="fadeInUp" data-animation-delay="100">
                        <div class="herotext text-center">
                            <div class="lrline pb-3"><span>Awards</span></div>
                            <h2>International awards 2024</h2>
                        </div>
                    </div>
                </div>
                <div class="row text-center pt-5">
                    <div class="col-6 col-md-3  animated" data-animation="fadeInUp" data-animation-delay="200"><img src="{% static 'website/assets/imgs/clients/1.jpg' %}" class="img-fluid" alt=""></div>
                    <div class="col-6 col-md-3  animated" data-animation="fadeInUp" data-animation-delay="300"><img src="{% static 'website/assets/imgs/clients/2.jpg' %}" class="img-fluid" alt=""></div>
                    <div class="col-6 col-md-3  animated" data-animation="fadeInUp" data-animation-delay="400"><img src="{% static 'website/assets/imgs/clients/3.jpg' %}" class="img-fluid" alt=""></div>
                    <div class="col-6 col-md-3  animated" data-animation="fadeInUp" data-animation-delay="500"><img src="{% static 'website/assets/imgs/clients/4.jpg' %}" class="img-fluid" alt=""></div>
                    <div class="col-6 col-md-3  animated" data-animation="fadeInUp" data-animation-delay="600"><img src="{% static 'website/assets/imgs/clients/5.jpg' %}" class="img-fluid" alt=""></div>
                    <div class="col-6 col-md-3  animated" data-animation="fadeInUp" data-animation-delay="700"><img src="{% static 'website/assets/imgs/clients/6.jpg' %}" class="img-fluid" alt=""></div>
                    <div class="col-6 col-md-3  animated" data-animation="fadeInUp" data-animation-delay="800"><img src="{% static 'website/assets/imgs/clients/7.jpg' %}" class="img-fluid" alt=""></div>
                    <div class="col-6 col-md-3  animated" data-animation="fadeInUp" data-animation-delay="900"><img src="{% static 'website/assets/imgs/clients/8.jpg' %}" class="img-fluid" alt=""></div>
                </div>
            </div>
        </section>
        <!-- /.. CLIENTS ENDS
            ========================================================================= -->
        <!-- VIDEO STARTS
            ========================================================================= -->
        <section class="video bg-img text-center">
            <div class="container">
                <div class="row">
                    <div class="col-12 animated" data-animation="fadeInUp" data-animation-delay="100">
                        <h6><a class="popup-vimeo" href="https://vimeo.com/45830194"><i class="las la-play"></i>&nbsp;</a></h6>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.. VIDEO ENDS
            ========================================================================= -->
        <!-- JOIN US STARTS
            ========================================================================= -->
        <section class="join-us rich-bg text-center">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="herotext animated" data-animation="fadeInUp" data-animation-delay="100">
                            <div class="lrline pb-3"><span>LET's Connect</span></div>
                            <h2>Ready to Ship with Confidence?</h2>
                            <h5 class="pt-2">Effortless Cargo Shipping: Solutions for Businesses of all sizes</h5>
                        </div>
                        <ul class="pt-4">
                            <li><a href="#" class="btn btn-secondary  animated" data-animation="fadeInUp" data-animation-delay="200">GET A QUOTE</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.. JOIN US ENDS
            ========================================================================= -->
